$icon-size: 60px;
$icon-color: #1abc9c;

.weather-details {
    max-width: 800px;
    margin: 0 auto;
    width: calc(100% - 40px);
    overflow: hidden;

    p {
        margin: 15px 0;
        font-size: 18px; 
        color: $text-color;

        strong {
            color: $button-color;
        }

        i {
            margin-right: 12px;
            color: $icon-color;
        }
    }

    .weather-icon {
        width: $icon-size;
        height: $icon-size;
        margin: 10px 5px;
        vertical-align: middle; 
        color: $icon-color;
    }
}

